#box1 {
    /* height: 100px; */
    width: 100px;
    background-color: green;
    font-size: 10px;
    height: 40vh;
}
#box2  {
    /* height: 50px; */
    width: 30%;
    margin-left: 10%;
    background-color: yellow;
    font-size: 2em;
    width: 5em ;
    height: 40vh;
}

div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
#box3 {
    position: static;
    z-index: 1;
    background-image: url("cat.jpg");
    background-size: cover;
}
#box4 {
    position: relative;
    top: 30px;
    left: 20px;
    z-index: -2;
}
body {
    background-image: url("cat.jpg");
    background-size: contain;
    /* background-size: cover; */
}

#box7 {
    height: 200px;
    width: 200px;
    background-image: url("nature_image.jpg");
    background-size: contain;
    color: white;
    position: fixed;
    right: 0px;
    z-index: 3;
}